
cad_files/fp-info-cache
cad_files/GENERIC_CAN-cache.lib
cad_files/GENERIC_CAN-rescue.dcm
cad_files/GENERIC_CAN-rescue.lib
cad_files/GENERIC_CAN.kicad_pcb-bak
cad_files/GENERIC_CAN.net
cad_files/GENERIC_CAN.sch-bak
cad_files/sym-lib-table
